body{
    background-color: deepskyblue;
}

.mapdiv{
    width:28%;
    margin: auto;
}

.mapdiv path {
    fill: #cc1100;
    stroke: white;
    stroke-width:1px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill: black;
}